<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhs.sssss.mappers.ItemMapper">

    <select id="selectItems"
            resultType="com.bhs.sssss.entities.ItemEntity">
        SELECT `index`         AS `index`,
               `item_id`       AS `itemId`,
               `item_title`    AS `itemTitle`,
               `sub_title`     AS `subTitle`,
               `item_image`    AS `itemImage`,
               `sticker`       AS `sticker`,
               `discount_rate` AS `discountRate`,
               `price`         AS `price`,
               `sales_price`   AS `salesPrice`,
               `item_category` AS `itemCategory`,
               `item_status`   AS `itemStatus`,
               `item_stock`    AS `itemStock`,
               `created_at`    AS `createdAt`,
               `deleted_at`    AS `deletedAt`
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
    </select>

    <select id="selectItemCount"
            resultType="_int">
        SELECT COUNT(0)
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
    </select>

    <select id="selectItemCount1"
            resultType="_int">
        SELECT COUNT(0)
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
          AND `sticker` IS NOT NULL
    </select>

    <select id="selectItemCount2"
            resultType="_int">
        SELECT COUNT(0)
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
          AND `discount_rate` IS NOT NULL
    </select>

    <select id="selectItemCountByKeyword"
            resultType="_int">
        SELECT COUNT(0)
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
          AND `item_title` LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="selectItemsByNew"
            resultType="com.bhs.sssss.entities.ItemEntity">
        SELECT `index`         AS `index`,
               `item_id`       AS `itemId`,
               `item_title`    AS `itemTitle`,
               `sub_title`     AS `subTitle`,
               `item_image`    AS `itemImage`,
               `sticker`       AS `sticker`,
               `discount_rate` AS `discountRate`,
               `price`         AS `price`,
               `sales_price`   AS `salesPrice`,
               `item_category` AS `itemCategory`,
               `item_status`   AS `itemStatus`,
               `item_stock`    AS `itemStock`,
               `created_at`    AS `createdAt`,
               `deleted_at`    AS `deletedAt`
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
        ORDER BY `created_at` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <select id="selectItemsBySticker"
            resultType="com.bhs.sssss.entities.ItemEntity">
        SELECT `index`         AS `index`,
               `item_id`       AS `itemId`,
               `item_title`    AS `itemTitle`,
               `sub_title`     AS `subTitle`,
               `item_image`    AS `itemImage`,
               `sticker`       AS `sticker`,
               `discount_rate` AS `discountRate`,
               `price`         AS `price`,
               `sales_price`   AS `salesPrice`,
               `item_category` AS `itemCategory`,
               `item_status`   AS `itemStatus`,
               `item_stock`    AS `itemStock`,
               `created_at`    AS `createdAt`,
               `deleted_at`    AS `deletedAt`
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
          AND `sticker` IS NOT NULL
        ORDER BY `index`
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <select id="selectItemsByDiscount"
            resultType="com.bhs.sssss.entities.ItemEntity">
        SELECT `index`         AS `index`,
               `item_id`       AS `itemId`,
               `item_title`    AS `itemTitle`,
               `sub_title`     AS `subTitle`,
               `item_image`    AS `itemImage`,
               `sticker`       AS `sticker`,
               `discount_rate` AS `discountRate`,
               `price`         AS `price`,
               `sales_price`   AS `salesPrice`,
               `item_category` AS `itemCategory`,
               `item_status`   AS `itemStatus`,
               `item_stock`    AS `itemStock`,
               `created_at`    AS `createdAt`,
               `deleted_at`    AS `deletedAt`
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
          AND `discount_rate` IS NOT NULL
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <select id="selectItemsByKeyword"
            resultType="com.bhs.sssss.entities.ItemEntity">
        SELECT `index`         AS `index`,
               `item_id`       AS `itemId`,
               `item_title`    AS `itemTitle`,
               `sub_title`     AS `subTitle`,
               `item_image`    AS `itemImage`,
               `sticker`       AS `sticker`,
               `discount_rate` AS `discountRate`,
               `price`         AS `price`,
               `sales_price`   AS `salesPrice`,
               `item_category` AS `itemCategory`,
               `item_status`   AS `itemStatus`,
               `item_stock`    AS `itemStock`,
               `created_at`    AS `createdAt`,
               `deleted_at`    AS `deletedAt`
        FROM `kurly`.`items`
        WHERE `deleted_at` IS NULL
          AND `item_title` LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>

    <select id="selectItemByItemId"
            resultType="com.bhs.sssss.entities.ItemEntity">
        SELECT `index`         AS `index`,
               `item_id`       AS `itemId`,
               `item_title`    AS `itemTitle`,
               `sub_title`     AS `subTitle`,
               `item_image`    AS `itemImage`,
               `sticker`       AS `sticker`,
               `discount_rate` AS `discountRate`,
               `price`         AS `price`,
               `sales_price`   AS `salesPrice`,
               `item_category` AS `itemCategory`,
               `item_status`   AS `itemStatus`,
               `item_stock`    AS `itemStock`,
               `created_at`    AS `createdAt`,
               `deleted_at`    AS `deletedAt`
        FROM `kurly`.`items`
        WHERE `item_id` = #{itemId}
          AND `deleted_at` IS NULL
        LIMIT 1
    </select>
</mapper>