<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{'/member/assets/styles/signup.css'}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer type="text/javascript" th:src="@{'/member/assets/scripts/signup.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script th:if="${session.member != null}">
        alert('올바르지 않은 접근입니다.');
        if(history.length > 1){
            history.back();
        } else {
            window.close();
        }
    </script>
    <title>회원가입 - 컬리</title>
</head>
<body>
<div th:replace="~{/fragments/header :: headerFragment}"></div>
<main id="main">
    <div class="title">회원가입</div>
    <form class="signup-form e15so55l1" id="signup-form">
        <div class="tip e1yyjjij1">
            <span class="asterisk e1yyjjij0">*</span>
            필수입력사항
        </div>
        <div class="signup-wrapper eo6ykj40" >
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">아이디
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="wrapper2 e1uzxhvi6">
                        <label class="wrapper3 e1uzxhvi3" data-id="memberId">
                            <input data-testid="input-box" id="memberId" name="memberId" placeholder="아이디를 입력해주세요" type="text" class="input-box e1uzxhvi2" value="" maxlength="16">
                        </label>
                        <span class="-warning" rel="id"></span>
                        <span class="-isValid" rel="id"></span>
                    </div>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">비밀번호
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="wrapper2 e1uzxhvi6">
                        <label class="wrapper3 e1uzxhvi3" data-id="password">
                            <input data-testid="input-box" id="password" name="password" placeholder="비밀번호를 입력해주세요" type="password" autocomplete="off" class="input-box e1uzxhvi2" value="" maxlength="16">
                        </label>
                        <span class="-warning" rel="pw"></span>
                        <span class="-isValid" rel="pw"></span>
                    </div>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">비밀번호확인
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="wrapper2 e1uzxhvi6">
                        <label class="wrapper3 e1uzxhvi3">
                            <input data-testid="input-box" id="passwordConfirm" name="passwordConfirm" placeholder="비밀번호를 한번 더 입력해주세요" type="password" autocomplete="off" class="input-box e1uzxhvi2" value="" maxlength="16">
                        </label>
                        <span class="-warning" rel="pw-check"></span>
                        <span class="-isValid" rel="pw-check"></span>
                    </div>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">이름
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="wrapper2 e1uzxhvi6">
                        <label class="wrapper3 e1uzxhvi3">
                            <input data-testid="input-box" id="name" name="name" placeholder="이름을 입력해 주세요" type="text" class="input-box e1uzxhvi2" value="">
                        </label>
                        <span class="-warning" rel="name"></span>
                        <span class="-isValid" rel="name"></span>
                    </div>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">이메일
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="wrapper2 esmqp4w8">
                        <label class="email-wrapper esmqp4w5" id="email-wrapper">
                            <input id="email" type="hidden" name="email" value="">
                            <input id="emailId" name="emailId" placeholder="예: marketkurly" type="text" class="emailId esmqp4w4" value="">
                            <div class="at esmqp4w3">@</div>
                            <div class="pc choice esmqp4w2" id="email-choice">
                                <button type="button" class="btn-text empty" rel="email">선택하기</button>
                                <label class="input-text">
                                    <input id="emailDomain" name="emailDomain" type="text" placeholder="직접 입력" class="text esmqp4w4" value="">
                                </label>
                                <button type="button" class="btn-select" rel="email">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImljX2Fycm93X2Rvd25fNDgiPgo8cGF0aCBpZD0iU2hhcGUiIGQ9Ik0yNC4wNzc2IDI2LjczMDFMMjcuODI3NiAyMi4yMzAxQzI4LjIzNDcgMjEuNzQxNiAyNy44ODczIDIxIDI3LjI1MTQgMjFIMTkuNzUxNEMxOS4xMTU2IDIxIDE4Ljc2ODIgMjEuNzQxNiAxOS4xNzUzIDIyLjIzMDFMMjIuOTI1MyAyNi43MzAxQzIzLjIyNTEgMjcuMDkgMjMuNzc3OCAyNy4wOSAyNC4wNzc2IDI2LjczMDFaIiBmaWxsPSIjMzMzMzMzIi8+CjwvZz4KPC9zdmc+Cg=="
                                        alt="arrow-down">
                                </button>
                                <div class="list-container esmqp4w0">
                                    <button type="button" class="dropdown__item">naver.com
                                    </button>
                                    <button type="button" class="dropdown__item">gmail.com
                                    </button>
                                    <button type="button" class="dropdown__item">hanmail.net
                                    </button>
                                    <button type="button" class="dropdown__item">kakao.com
                                    </button>
                                    <button type="button" class="dropdown__item">daum.net
                                    </button>
                                    <button type="button" class="dropdown__item">hotmail.com
                                    </button>
                                    <button type="button" class="dropdown__item">yahoo.co.kr
                                    </button>
                                    <button type="button" class="dropdown__item">직접 입력</button>
                                </div>
                            </div>
                        </label>
                        <span class="-warning" rel="name"></span>
                        <span class="-isValid" rel="name"></span>
                    </div>
                </div>
                <div class="empty-box e744wfw2">
                    <button class="email-button --obj-button --color-light-primary" type="button" id="email-button">
                        <span class="text e4nu7ef1">
                            인증하기
                        </span>
                    </button>
                </div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5"><label class="text e744wfw4">휴대폰<span
                        class="asterisk e744wfw0">*</span></label></div>
                <div class="wrapper1 e744wfw3">
                    <div class="wrapper2 e1uzxhvi6">
                        <label class="wrapper3 e1uzxhvi3">
                            <input data-testid="input-box" id="mobileNumber" name="contact" placeholder="숫자만 입력해주세요." type="tel" class="input-box e1uzxhvi2" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="11">
                        </label>
                        <span class="-warning" rel="name"></span>
                        <span class="-isValid" rel="name"></span>
                    </div>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
            <div class="info-box address">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">주소
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <button class="find-button --obj-button --color-light-primary e4nu7ef3" type="button">
                        <span class="_text e4nu7ef1">
                            <img src="https://res.kurly.com/pc/service/cart/2007/ico_search.svg" alt="" class="image e4nu7ef0">
                            주소 검색
                        </span>
                    </button>
                    <div class="address-box">
                        <label class="address-box2 e1uzxhvi3">
                            <input data-testid="input-box" id="address" name="address" placeholder="주소를 검색해 주세요" type="text" readonly="" class="address e1uzxhvi2" value="">
                        </label>
                    </div>
                    <div class="address-box">
                        <label class="address-box2 e1uzxhvi3">
                            <input data-testid="input-box" id="subAddress" name="subAddress" placeholder="나머지 주소를 입력해주세요" type="text" class="sub-address e1uzxhvi2" value="">
                        </label>
                    </div>
                    <span class="desc eq6ygzw0">배송지에 따라 상품 정보가 달라질 수 있습니다.</span>
                </div>
                <div class="empty-box e744wfw2">
                    <button class="research-button --obj-button --color-light-primary" type="button">
                        <span class="text e4nu7ef1">
                            <img src="https://res.kurly.com/pc/service/cart/2007/ico_search.svg" alt="" class="img e4nu7ef0">
                            재검색
                        </span>
                    </button>
                </div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">성별</label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="gender-container es1pbny0">
                        <label class="label et8nqc33" for="gender-man">
                            <input data-testid="radio-MALE" id="gender-man" name="gender" type="radio" class="input et8nqc32" value="M">
                            <span class="radio-check e2sqze61">
                                <div class="middle e2sqze60"></div>
                            </span>
                            <span aria-labelledby="gender-man" class="gender-text et8nqc31">남자</span>
                        </label>
                        <label class="label et8nqc33" for="gender-woman">
                            <input data-testid="radio-FEMALE" id="gender-woman" name="gender"
                                   type="radio" class="input et8nqc32" value="F">
                            <span class="radio-check e2sqze61">
                                <div class="middle e2sqze60"></div>
                            </span>
                            <span aria-labelledby="gender-woman" class="gender-text et8nqc31">여자</span>
                        </label>
                        <label class="label et8nqc33" for="gender-none">
                            <input data-testid="radio-NONE" id="gender-none" name="gender" type="radio" class="input et8nqc32" value="N" checked="">
                            <span class="radio-check e2sqze61">
                                <div class="middle e2sqze60"></div>
                            </span>
                            <span aria-labelledby="gender-none" class="gender-text et8nqc31">선택안함</span>
                        </label>
                    </div>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
            <div class="info-box e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">생년월일</label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="birth-box">
                        <div class="box">
                            <label class="label">
                                <input data-testid="input-box" name="birthYear" placeholder="YYYY" type="text" class="input e1uzxhvi2" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="4">
                            </label>
                        </div>
                        <span class="slash e1ke3ehm0"></span>
                        <div class="box e1uzxhvi6">
                            <label class="label e1uzxhvi3">
                                <input data-testid="input-box" name="birthMonth" placeholder="MM" type="text" class="input e1uzxhvi2" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="2">
                            </label>
                        </div>
                        <span class="slash e1ke3ehm0"></span>
                        <label class="box e1uzxhvi6">
                            <div class="label e1uzxhvi3">
                                <input data-testid="input-box" name="birthDay" placeholder="DD" type="text" class="input e1uzxhvi2" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="2">
                            </div>
                        </label>
                    </div>
                    <span class="-warning" rel="birth"></span>
                </div>
                <div class="empty-box e744wfw2"></div>
            </div>
        </div>

        <div class="line e1j7jtti0"></div>

        <div class="agree-form e1k9oeg10" id="agree-form">
            <div class="text-wrapper e744wfw6">
                <div class="text-box e744wfw5">
                    <label class="text e744wfw4">이용약관동의
                        <span class="asterisk e744wfw0">*</span>
                    </label>
                </div>
                <div class="wrapper1 e744wfw3">
                    <div class="agree-box e1sjmfnv6">
                        <label class="agreeAll-label e1dcessg3" for="TermsAgreeAll">
                            <input id="TermsAgreeAll" type="checkbox" class="input e1dcessg2">
                            <div class="check-box e1dcessg1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                      stroke="#ddd" fill="#fff"></path>
                                <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            </div>
                            <span>전체 동의합니다.</span>
                        </label>
                        <p class="desc e1sjmfnv5">선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
                    </div>
                    <div class="agree-box e1sjmfnv6">
                        <div class="content-box e1sjmfnv3">
                            <label class="content-label e1dcessg3" for="RequiredTermsCondition">
                                <input id="RequiredTermsCondition" type="checkbox" class="input e1dcessg2">
                                <div class="check-box e1dcessg1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                          stroke="#ddd" fill="#fff"></path>
                                        <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <span>이용약관 동의</span>
                            </label>
                            <span class="option e1sjmfnv4">(필수)</span>
                        </div>
                        <a class="terms-link e1sjmfnv2">약관보기</a>
                    </div>
                    <div class="agree-box e1sjmfnv6">
                        <div class="content-box e1sjmfnv3">
                            <label class="content-label e1dcessg3" for="RequiredTermsOfPrivacy">
                                <input id="RequiredTermsOfPrivacy" type="checkbox" class="input e1dcessg2">
                            <div class="check-box e1dcessg1">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                          stroke="#ddd" fill="#fff"></path>
                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <span>개인정보 수집∙이용 동의</span>
                            </label>
                            <span class="option e1sjmfnv4">(필수)</span>
                        </div>
                        <a class="terms-link e1sjmfnv2">약관보기</a>
                    </div>
                    <div class="agree-box e1sjmfnv6">
                        <div class="content-box e1sjmfnv3">
                            <label class="content-label e1dcessg3" for="OptionalTermsOfPrivacy">
                                <input id="OptionalTermsOfPrivacy" type="checkbox" class="input e1dcessg2">
                            <div class="check-box e1dcessg1">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                          stroke="#ddd" fill="#fff"></path>
                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <span>개인정보 수집∙이용 동의</span>
                            </label>
                            <span class="option e1sjmfnv4">(선택)</span>
                        </div>
                        <a class="terms-link e1sjmfnv2">약관보기</a>
                    </div>
                    <div class="reception-agree-box e1sjmfnv6">
                        <div class="content-box e1sjmfnv3">
                            <label class="content-label e1dcessg3" for="SignupEventAll">
                                <input id="SignupEventAll" type="checkbox" class="input e1dcessg2">
                                <div class="check-box e1dcessg1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                          stroke="#ddd" fill="#fff"></path>
                                        <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <span>무료배송, 할인쿠폰 등 혜택/정보 수신 동의</span>
                            </label>
                            <span class="option e1sjmfnv4">(선택)</span>
                        </div>
                        <div class="contact-box e1sjmfnv1">
                            <label class="contact-label e1dcessg3" for="OptionalTermsOfSms">
                                <input id="OptionalTermsOfSms" type="checkbox" class="input e1dcessg2">
                                <div class="check-box e1dcessg1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                          stroke="#ddd" fill="#fff"></path>
                                        <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <span>SMS</span>
                            </label>
                            <label class="contact-label e1dcessg3" for="OptionalTermsOfMailing">
                                <input id="OptionalTermsOfMailing" type="checkbox" class="input e1dcessg2">
                            <div class="check-box e1dcessg1">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                                          stroke="#ddd" fill="#fff"></path>
                                    <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <span>이메일</span>
                            </label>
                        </div>
                    </div>
                    <div class="agree-box e1sjmfnv6">
                        <div class="content-box e1sjmfnv3">
                            <label class="content-label e1dcessg3" for="RequiredSignupAge">
                                <input id="RequiredSignupAge" type="checkbox" class="input e1dcessg2">
                                <div class="check-box e1dcessg1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z" stroke="#ddd" fill="#fff"></path>
                                        <path d="M7 12.6667L10.3846 16L18 8.5" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <span>본인은 만 14세 이상입니다.</span>
                            </label>
                            <span class="option e1sjmfnv4">(필수)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container e1utgeno0">
            <button class="signup-button --obj-button --color-primary e4nu7ef3" type="submit">
                <span class="text e4nu7ef1">가입하기</span>
            </button>
        </div>
    </form>
</main>
<div th:replace="~{/fragments/footer :: footerFragment}"></div>
</body>
</html>